.icon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid red 1px;
  margin: 0.5rem;
  padding: 0.5rem;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 0.5rem;
}

.icon-label {
  height: 2rem;
  width: 3.5rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.85rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.icon-container:hover .icon-label {
  opacity: 1;
  cursor: pointer;
}

.icon-button svg {
  width: 2rem;
  height: 2rem;
}
