#volume,
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 7rem; /* Adjust width as needed */
  height: 0.95rem;
  background: transparent;
  border: 2px var(--primary) solid;
  border-radius: 0.5rem;
  margin: 0;
}

#volume::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 1rem;
  background: transparent;
  border: 2px var(--primary) solid;
  border-radius: 0.5rem;
}

#volume::-webkit-slider-thumb,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 0.95rem;
  width: 0.95rem;
  background-color: var(--primary);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#volume::-moz-range-track,
input[type='range']::-moz-range-track {
  height: 1rem;
  width: 100%;
  background: none;
  border-radius: 0.5rem;
  border: 2px var(--primary) solid;
}

#volume::-moz-range-thumb,
input[type='range']::-moz-range-thumb {
  height: 1rem;
  width: 1rem;
  background-color: var(--primary);
  border-radius: 50%;
  cursor: pointer;
}
